<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Leprosorium</title>
</head>
<body>

  <h1> Post details: </h1> <br>

    <p>
      <%= @row['content'] %> <br>
      <br>
      Added at <%= @row['created_date'] %> <br>
      <br>
    </p>
    <br>

    <h2>Comments:</h2>

    <form action="/details/<%= @row['id'] %>" method="post">
      <textarea name="content" class="form-control" rows="6" placeholder="Enter your comment"></textarea>
      <br>
      <button type="submit" class="btn btn-warning">Add comment</button>
    </form>

    <hr>

</body>
</html>