<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Leprosorium</title>
</head>
<body>

  <h1>Latest posts:</h1>

  <% @results.each do |post| %>
    <p>
      <%= post['content'] %> <br>
      <br>
      Added at <%= post['created_date'] %> <br>
      <br>
      <a href="/details/<%= post['id'] %>">Comments</a>
      <hr>
    </p>
  <% end %>

</body>
</html>